body
{
    height: 100dvh;

    background: 
    radial-gradient(transparent, black),
    url(../imgs/authBg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.auth
{
    justify-content: center;
    align-items: center;
    height: 100%;
}

a
{
    color: var(--color3);
}

.buttonContainer
{
    width: 75%;
}